.form-profile {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: var(--g-xxs-gap);
    border: none;
  }

  &__label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  &__error-message {
    margin-bottom: 0;
    color: var(--red-1);
    text-align: center;
  }

  &__btn {
    margin-top: 1rem;
  }

  &__question {
    text-align: center;
    margin-bottom: 0;
  }

  &__message-completed {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon-completed {
    font-size: 2rem;
    margin-right: 0.5rem;
    color: var(--green-4);
  }

  &__checkbox-field {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;

    &:nth-last-child(1 of .form-registration__checkbox-field) {
      margin-bottom: 1.5rem;
    }
  }

  &__shipping-address {
    margin-bottom: 1.5rem;
  }
}
