.view-not-found {
  flex-grow: 1;
  display: flex;

  &__title {
    margin: 0;
  }

  &__banner {
    margin: auto;
    padding: var(--g-md-gap);
    display: flex;
    flex-direction: column;
    gap: var(--g-md-gap);
    align-items: center;
  }
}
