.products {
  display: grid;
  gap: var(--g-md-gap);
  grid-template-areas:
    'filter header'
    'filter list'
    'filter breadcrumbs';

  grid-template-columns: 300px 1fr;

  &__header {
    grid-area: header;
  }

  &__list {
    grid-area: list;
  }

  &__filter-wrap {
    grid-area: filter;
  }

  @media (max-width: 650px) {
    display: flex;
    flex-direction: column;
  }
}
