.form-login {
  display: flex;
  flex-direction: column;
  gap: var(--g-xxs-gap);

  &__label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  &__btn {
    margin-top: 1rem;
  }
}
