.password-field {
  position: relative;

  &__btn {
    position: absolute;
    top: 50%;
    right: 0;
    translate: 0 -50%;
    color: var(--btn-color);
    width: 40px;
    height: 100%;
    border-radius: 5px;

    &:focus-visible {
      box-shadow: 0 0 0 0.25rem var(--focus-box-shadow);
    }
  }

  &__input {
    padding-right: 45px;
  }

  &_invalid {
    .password-field__btn {
      &:focus-visible {
        box-shadow: 0 0 0 0.25rem var(--invalid-focus-box-shadow);
      }
    }
  }
}

.password-field_theme_primary {
  --focus-box-shadow: var(--gray-1-50);
  --invalid-focus-box-shadow: var(--red-1-20);

  --btn-color: var(--black-1-50);
}
