.product-price {
  font-weight: bold;

  &__old-price {
    display: inline-block;
    color: var(--gray-2);
    text-decoration: line-through;
    white-space: nowrap;
    margin: 0 0.5rem 0.5rem 0;
  }

  &__discount-price {
    background-color: var(--green-4);
    display: inline-block;
    padding: 0 var(--g-xs-gap);
    color: var(--white-1);
    white-space: nowrap;
    margin-bottom: 0.5rem;
  }

  &__actual-price {
    line-height: 1;
    white-space: nowrap;
  }
}
