.cart-button {
  position: relative;

  &__badge {
    line-height: 1;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.8rem;
    background-color: var(--green-4);
    color: var(--white-1);
    padding: 2px 4px;
    border-radius: 5px;
    pointer-events: none;
  }
}
