.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--g-md-gap);
  container-type: inline-size;

  &_mode_list {
    grid-template-columns: 1fr;
  }
}
